#NET "clk50" LOC="B8";
#NET "clk50" PERIOD = 20 ns;
NET "clk50" LOC="U9";
NET "clk50" PERIOD = 10 ns;
NET "pb" LOC="B18";
NET "pb" TIG;
#NET "sw" LOC="G18";
NET "vga_rgb<7>" LOC="R9";
NET "vga_rgb<6>" LOC="T8";
NET "vga_rgb<5>" LOC="R8";
NET "vga_rgb<4>" LOC="N8";
NET "vga_rgb<3>" LOC="P8";
NET "vga_rgb<2>" LOC="P6";
NET "vga_rgb<1>" LOC="U5";
NET "vga_rgb<0>" LOC="U4";
NET "vga_hsync" LOC="T4";
NET "vga_vsync" LOC="U3";
NET "led1" LOC="F18";

NET "ov7670_siod1" LOC = "L15";
NET "ov7670_sioc1" LOC = "K12";
NET "ov7670_href1" LOC = "L17";
NET "ov7670_vsync1" LOC = "M15";
NET "ov7670_xclk1" LOC = "K13";
NET "ov7670_pclk1" LOC = "L16"; # CO input
INST "ov7670_pclk1" IOB = TRUE;
NET "ov7670_reset1" LOC = "M14";
NET "ov7670_data1<7>" LOC = "U18";
NET "ov7670_data1<6>" LOC = "T18";
NET "ov7670_data1<5>" LOC = "R16";
NET "ov7670_data1<4>" LOC = "P17";
NET "ov7670_data1<3>" LOC = "T17";
NET "ov7670_data1<2>" LOC = "R15";
NET "ov7670_data1<1>" LOC = "R18";
NET "ov7670_data1<0>" LOC = "m13";

NET "ov7670_pclk1" CLOCK_DEDICATED_ROUTE = FALSE;
