NET "i_clock" LOC="B8";
NET "i_clock" PERIOD = 20 ns;
#NET "i_clock" LOC="U9";
#NET "i_clock" PERIOD = 10 ns;
NET "pb" LOC="B18" | TIG;
#NET "sw" LOC="G18";
NET "vga_rgb<7>" LOC="R9" | IOSTANDARD="LVCMOS33";
NET "vga_rgb<6>" LOC="T8" | IOSTANDARD="LVCMOS33";
NET "vga_rgb<5>" LOC="R8" | IOSTANDARD="LVCMOS33";
NET "vga_rgb<4>" LOC="N8" | IOSTANDARD="LVCMOS33";
NET "vga_rgb<3>" LOC="P8" | IOSTANDARD="LVCMOS33";
NET "vga_rgb<2>" LOC="P6" | IOSTANDARD="LVCMOS33";
NET "vga_rgb<1>" LOC="U5" | IOSTANDARD="LVCMOS33";
NET "vga_rgb<0>" LOC="U4" | IOSTANDARD="LVCMOS33";
NET "vga_hsync" LOC="T4" | IOSTANDARD="LVCMOS33";
NET "vga_vsync" LOC="U3" | IOSTANDARD="LVCMOS33";
NET "vga_clock" LOC="J16" | IOSTANDARD="LVCMOS33";
NET "led1" LOC="F18" | IOSTANDARD="LVCMOS33";

NET "ov7670_siod1" LOC = "L15" | PULLUP | IOSTANDARD="LVCMOS33";
NET "ov7670_sioc1" LOC = "K12" | PULLUP | IOSTANDARD="LVCMOS33";
NET "ov7670_href1" LOC = "L17" | IOSTANDARD="LVCMOS33";
NET "ov7670_vsync1" LOC = "M15" | IOSTANDARD="LVCMOS33";
NET "ov7670_xclk1" LOC = "K13" | IOSTANDARD="LVCMOS33";
NET "ov7670_pclk1" LOC = "G15" | IOSTANDARD="LVCMOS33";
NET "ov7670_reset1" LOC = "M14" | IOSTANDARD="LVCMOS33";
NET "ov7670_data1<7>" LOC = "U18" | IOSTANDARD="LVCMOS33";
NET "ov7670_data1<6>" LOC = "T18" | IOSTANDARD="LVCMOS33";
NET "ov7670_data1<5>" LOC = "R16" | IOSTANDARD="LVCMOS33";
NET "ov7670_data1<4>" LOC = "P17" | IOSTANDARD="LVCMOS33";
NET "ov7670_data1<3>" LOC = "T17" | IOSTANDARD="LVCMOS33";
NET "ov7670_data1<2>" LOC = "R15" | IOSTANDARD="LVCMOS33";
NET "ov7670_data1<1>" LOC = "R18" | IOSTANDARD="LVCMOS33";
NET "ov7670_data1<0>" LOC = "m13" | IOSTANDARD="LVCMOS33";

INST "inst_top_camera_monitoring/DCM_SP_mc" LOC="DCM_X1Y3";
INST "inst_top_camera_monitoring/DCM_SP_cam" LOC="DCM_X2Y3";

NET "ov7670_pclk1" CLOCK_DEDICATED_ROUTE = FALSE;
NET "i_clock" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "inst_top_camera_monitoring/DCM_SP_cam.CLKIN" CLOCK_DEDICATED_ROUTE = FALSE;
