NET "clk50" LOC="B8";
NET "clkcam" LOC="U9";
NET "pb" LOC="B18";
NET "sw" LOC="G18";
NET "vga_rgb<7>" LOC="R9";
NET "vga_rgb<6>" LOC="T8";
NET "vga_rgb<5>" LOC="R8";
NET "vga_rgb<4>" LOC="N8";
NET "vga_rgb<3>" LOC="P8";
NET "vga_rgb<2>" LOC="P6";
NET "vga_rgb<1>" LOC="U5";
NET "vga_rgb<0>" LOC="U4";
NET "vga_hsync" LOC="T4";
NET "vga_vsync" LOC="U3";
NET "led1" LOC="E16";
NET "led2" LOC="P16";
NET "led3" LOC="E4";
NET "led4" LOC="P4";

NET "anode<0>" LOC="F17";
NET "anode<1>" LOC="H17";
NET "anode<2>" LOC="C18";
NET "anode<3>" LOC="F15";

NET "ov7670_siod1" LOC = "L15";
NET "ov7670_sioc1" LOC = "K12";
NET "ov7670_href1" LOC = "L17";
NET "ov7670_vsync1" LOC = "M15";
NET "ov7670_xclk1" LOC = "K13";
NET "ov7670_pclk1" LOC = "L16";
NET "ov7670_reset1" LOC = "M14";
NET "ov7670_data1<7>" LOC = "U18";
NET "ov7670_data1<6>" LOC = "T18";
NET "ov7670_data1<5>" LOC = "R16";
NET "ov7670_data1<4>" LOC = "P17";
NET "ov7670_data1<3>" LOC = "T17";
NET "ov7670_data1<2>" LOC = "R15";
NET "ov7670_data1<1>" LOC = "R18";
NET "ov7670_data1<0>" LOC = "m13";

NET "ov7670_siod2" LOC = "G15";
NET "ov7670_sioc2" LOC = "J16";
NET "ov7670_href2" LOC = "G13";
NET "ov7670_vsync2" LOC = "H16";
NET "ov7670_xclk2" LOC = "H15";
NET "ov7670_pclk2" LOC = "F14";
NET "ov7670_reset2" LOC = "G16";
NET "ov7670_data2<7>" LOC = "J14";
NET "ov7670_data2<6>" LOC = "J15";
NET "ov7670_data2<5>" LOC = "K15";
NET "ov7670_data2<4>" LOC = "K14";
NET "ov7670_data2<3>" LOC = "P18";
NET "ov7670_data2<2>" LOC = "N18";
NET "ov7670_data2<1>" LOC = "M18";
NET "ov7670_data2<0>" LOC = "J13";

NET "ov7670_siod3" LOC = "B4";
NET "ov7670_sioc3" LOC = "C3";
NET "ov7670_href3" LOC = "B6";
NET "ov7670_vsync3" LOC = "C5";
NET "ov7670_xclk3" LOC = "A4";
NET "ov7670_pclk3" LOC = "C4";
NET "ov7670_reset3" LOC = "D5";
NET "ov7670_data3<7>" LOC = "C9";
NET "ov7670_data3<6>" LOC = "E8";
NET "ov7670_data3<5>" LOC = "F8";
NET "ov7670_data3<4>" LOC = "A6";
NET "ov7670_data3<3>" LOC = "E9";
NET "ov7670_data3<2>" LOC = "D7";
NET "ov7670_data3<1>" LOC = "C7";
NET "ov7670_data3<0>" LOC = "E7";

NET "ov7670_pclk1" CLOCK_DEDICATED_ROUTE = FALSE;
NET "ov7670_pclk2" CLOCK_DEDICATED_ROUTE = FALSE;
NET "ov7670_pclk3" CLOCK_DEDICATED_ROUTE = FALSE;
