PIN "inst_top_camera_monitoring/clk_vga" TNM_NET = "CLK25";
NET "ov7670_pclk1" TNM_NET = "CLK24pclk";
NET "ov7670_xclk1" TNM_NET = "CLK24xclk";
NET "inst_top_camera_monitoring/clk1_fb" TNM_NET = "CLK50";
NET "inst_top_camera_monitoring/read_buffer_clk" TNM_NET = "CLK12_5";
NET "clk" TNM_NET = "ram_clk";
TIMESPEC TS_50_to_24p = FROM "CLK50" TO "CLK24pclk" TIG;
TIMESPEC TS_24p_to_50 = FROM "CLK24pclk" TO "CLK50" TIG;
TIMESPEC TS_50_to_24x = FROM "CLK50" TO "CLK24xclk" TIG;
TIMESPEC TS_24x_to_50 = FROM "CLK24xclk" TO "CLK50" TIG;
TIMESPEC TS_50_to_25 = FROM "CLK50" TO "CLK25" TIG;
TIMESPEC TS_25_to_50 = FROM "CLK25" TO "CLK50" TIG;
TIMESPEC TS_12_5_to_50 = FROM "CLK12_5" TO "CLK50" TIG;
TIMESPEC TS_50_to_12_5 = FROM "CLK50" TO "CLK12_5" TIG;

#INST "Dq(*)" IOB=FORCE;
#INST "Addr(*)" IOB=FORCE;
INST "inst_top_camera_monitoring/*" IOB=TRUE;
INST "inst_top_camera_monitoring/inst_ov7670capt1/*" IOB=TRUE;

#net "vga_r(*)" tig;
#net "vga_g(*)" tig;
#net "vga_b(*)" tig;
#net "pb" tig;
#net "led1" tig;
#net "ov7670_reset1" tig;
#net "ov7670_sioc1" tig;
#net "ov7670_siod1" tig;
#net "vga_hsync" tig;
#net "vga_vsync" tig;
#net "vga_clock" tig;
#net "vga_blank" tig;
#net "vga_hsdbg" tig;

#TIMESPEC TS_MY_PathA = FROM "CLK24xclk" TO "CLK24pclk" 2.5 ns DATAPATHONLY;
#TIMESPEC TS_MY_PathB = FROM "CLK24pclk" TO "CLK24xclk" 2.5 ns DATAPATHONLY;

# 12_5 to CLK1
#NET "inst_top_camera_monitoring/crbc_i0/read_buffer_clk" TNM_NET = FFS "MC_GRP";
#TIMESPEC TS_Example = FROM "MC_GRP" TO "MC_GRP" TS_CLK50*4;

#TIMESPEC TS_ramclk = PERIOD "ram_clk" 20 ns HIGH 50%;
#TIMESPEC TS_CLK25 = PERIOD "CLK25" 40 ns HIGH 50%;
#TIMESPEC TS_CLK24pclk = PERIOD "CLK24pclk" 41.667 ns HIGH 50%;
#TIMESPEC TS_CLK24xclk = PERIOD "CLK24xclk" 41.667 ns HIGH 50%;
#TIMESPEC TS_CLK50 = PERIOD "CLK50" 20 ns HIGH 50%;
#TIMESPEC TS_CLK12_5 = PERIOD "CLK12_5" 80 ns HIGH 50%;
##
#TIMESPEC TS_rc_to_24p = FROM "ram_clk" TO "CLK24pclk" TIG;
#TIMESPEC TS_24p_to_rc = FROM "CLK24pclk" TO "ram_clk" TIG;
#
#TIMESPEC TS_rc_to_24x = FROM "ram_clk" TO "CLK24xclk" TIG;
#TIMESPEC TS_24x_to_rc = FROM "CLK24xclk" TO "ram_clk" TIG;
#
#TIMESPEC TS_12_5_to_rc = FROM "CLK12_5" TO "ram_clk" TIG;
#TIMESPEC TS_rx_to_12_5 = FROM "ram_clk" TO "CLK12_5" TIG;
#
#TIMESPEC TS_50_to_24p = FROM "CLK50" TO "CLK24pclk" TIG;
#TIMESPEC TS_24p_to_50 = FROM "CLK24pclk" TO "CLK50" TIG;
#TIMESPEC TS_50_to_24x = FROM "CLK50" TO "CLK24xclk" TIG;
#TIMESPEC TS_24x_to_50 = FROM "CLK24xclk" TO "CLK50" TIG;
#TIMESPEC TS_12_5_to_24p = FROM "CLK12_5" TO "CLK24p" TIG;
#TIMESPEC TS_24p_to_12_5 = FROM "CLK24p" TO "CLK12_5" TIG;
#TIMESPEC TS_12_5_to_24x = FROM "CLK12_5" TO "CLK24x" TIG;
#TIMESPEC TS_24x_to_12_5 = FROM "CLK24x" TO "CLK12_5" TIG;

#NET "inst_top_camera_monitoring/inst_ov7670capt1/latched_d<*>" IOB = TRUE;
#INST "inst_top_camera_monitoring/inst_ov7670capt1/latched_vsync" IOB = TRUE;
#INST "inst_top_camera_monitoring/inst_ov7670capt1/latched_href" IOB = TRUE;

#NET "oWait" OFFSET = IN 1 ns VALID 1 ns BEFORE "i_clock";
#Created by Constraints Editor (xc3s1200e-fg320-4) - 2026/04/23
#NET "ov7670_data1<0>" OFFSET = IN 4 ns VALID 4 ns BEFORE "i_clock" TIMEGRP "CLK24xclk" RISING;
#NET "ov7670_data1<1>" OFFSET = IN 4 ns VALID 4 ns BEFORE "i_clock" TIMEGRP "CLK24xclk" RISING;
#NET "ov7670_data1<2>" OFFSET = IN 4 ns VALID 4 ns BEFORE "i_clock" TIMEGRP "CLK24xclk" RISING;
#NET "ov7670_data1<3>" OFFSET = IN 4 ns VALID 4 ns BEFORE "i_clock" TIMEGRP "CLK24xclk" RISING;
#NET "ov7670_data1<4>" OFFSET = IN 4 ns VALID 4 ns BEFORE "i_clock" TIMEGRP "CLK24xclk" RISING;
#NET "ov7670_data1<5>" OFFSET = IN 4 ns VALID 4 ns BEFORE "i_clock" TIMEGRP "CLK24xclk" RISING;
#NET "ov7670_data1<6>" OFFSET = IN 4 ns VALID 4 ns BEFORE "i_clock" TIMEGRP "CLK24xclk" RISING;
#NET "ov7670_data1<7>" OFFSET = IN 4 ns VALID 4 ns BEFORE "i_clock" TIMEGRP "CLK24xclk" RISING;
#NET "ov7670_href1" OFFSET = IN 4 ns VALID 4 ns BEFORE "i_clock" TIMEGRP "CLK24xclk" RISING;
#Created by Constraints Editor (xc3s1200e-fg320-4) - 2026/04/23
#NET "ov7670_vsync1" OFFSET = IN 4 ns VALID 4 ns BEFORE "i_clock" TIMEGRP "CLK24xclk" RISING;

NET "i_clock" LOC="B8";
NET "i_clock" TNM_NET = i_clock;
TIMESPEC TS_clk = PERIOD "i_clock" 20 ns HIGH 50%;

#NET "i_clock100" LOC="U9";
#NET "i_clock100" TNM_NET = i_clock100;
#TIMESPEC TS_clk100 = PERIOD "i_clock100" 10 ns HIGH 50%;

NET "pb" LOC="B18" | TIG;
#NET "pb" LOC="R17";
NET "led1" LOC="F18" | IOSTANDARD = "LVCMOS33";
NET "sw<0>" LOC = "G18";
NET "sw<1>" LOC = "H18";
#NET "sw<2>" LOC = "K18";
#NET "sw<3>" LOC = "K17";
#NET "sw<4>" LOC = "L14";
#NET "sw<5>" LOC = "L13";
#NET "sw<6>" LOC = "N17";
#NET "sw<7>" LOC = "R17";
NET "vga_r<0>" LOC="R9" ;
NET "vga_r<1>" LOC="T8" ;
NET "vga_r<2>" LOC="R8" ;
NET "vga_g<0>" LOC="N8" ;
NET "vga_g<1>" LOC="P8" ;
NET "vga_g<2>" LOC="P6" ;
NET "vga_b<0>" LOC="U5" ;
NET "vga_b<1>" LOC="U4" ;
NET "vga_hsync" LOC="T4" ;
NET "vga_vsync" LOC="U3" ;
NET "vga_hsdbg" LOC="J16" | IOSTANDARD = "LVCMOS33";
#NET "vga_vsdbg" LOC="N18";
#NET "vga_clock" LOC="J13";
NET "ov7670_reset1" LOC = "P17" | IOSTANDARD = "LVCMOS33"; # JB7
NET "ov7670_pwdn1" LOC = "G15"| IOSTANDARD = "LVCMOS33"; # JC1
NET "ov7670_siod1" LOC = "K13" |PULLUP | IOSTANDARD = "LVCMOS33"; # JA7
NET "ov7670_sioc1" LOC = "L16" |PULLUP | IOSTANDARD = "LVCMOS33"; # JA8
NET "ov7670_data1<7>" LOC = "P18" ; # JD4
NET "ov7670_data1<6>" LOC = "N18" ; # JD3
NET "ov7670_data1<5>" LOC = "M18" ; # JD2
NET "ov7670_data1<4>" LOC = "J13" ; # JD1
NET "ov7670_data1<3>" LOC = "T17" ; # JB4
NET "ov7670_data1<2>" LOC = "R15" ; # JB3
NET "ov7670_data1<1>" LOC = "R18" ; # JB2
NET "ov7670_data1<0>" LOC = "M13" ; # JB1
NET "ov7670_href1" LOC = "M14" ; # JA9
NET "ov7670_vsync1" LOC = "M16" ; # JA10
NET "ov7670_xclk1" LOC = "L15" | IOSTANDARD = "LVCMOS33" | DRIVE = 12 | SLEW = FAST; # JA1
NET "ov7670_pclk1" LOC = "K12" ; # JA2
NET "ov7670_pclk1" TNM_NET = pclk;
#TIMESPEC TS_pclk = PERIOD "pclk" 41.667 HIGH 50%;
#TIMESPEC TS_pclk_to_24 = FROM "pclk" TO "CLK24" TIG;
#TIMESPEC TS_24_to_pclk = FROM "CLK24" TO "pclk" TIG;
#TIMESPEC TS_50_to_pclk = FROM "CLK50" TO "pclk" TIG;
#TIMESPEC TS_pclk_to_50 = FROM "pclk" TO "CLK50" TIG;
#TIMESPEC TS_12_5_to_pclk = FROM "CLK12_5" TO "pclk" TIG;
#TIMESPEC TS_pclk_to_12_5 = FROM "pclk" TO "CLK12_5" TIG;
#INST "inst_top_camera_monitoring/inst_ov7670contr1/*" TIG;
#NET "inst_top_camera_monitoring/inst_debounce/*" TIG;
#NET "inst_top_camera_monitoring/ov7670_pclk1" IOB=TRUE;
#NET "inst_top_camera_monitoring/ov7670_pclk" TNM_NET = inst_top_camera_monitoring/ov7670_pclk1;
#OFFSET = IN 2.5 ns VALID 10 ns BEFORE "i_clock" TIMEGRP "inst_top_camera_monitoring/ov7670_pclk1" FALLING;
#NET "ov7670_xclk1" OFFSET = OUT 10 ns AFTER "i_clock";
#onBoard Cellular RAM and StrataFlash
NET "OE_n"     LOC = "T2"; # Bank = 3, Pin name = IO_L24P_3, Type = I/O, Sch name = OE
NET "WE_n"     LOC = "N7" ; # Bank = 2, Pin name = IO_L07P_2, Type = I/O, Sch name = WE
NET "ADV_n"    LOC = "J4"; # Bank = 3, Pin name = IO_L11N_3/LHCLK1, Type = LHCLK, Sch name = MT-ADV
NET "CE_n"     LOC = "R6" ; # Bank = 2, Pin name = IO_L05P_2, Type = I/O, Sch name = MT-CE
NET "CLK" LOC = "H5"; # Bank = 3, Pin name = IO_L08N_3, Type = I/O, Sch name = MT-CLK
NET "CRE"    LOC = "P7" ; # Bank = 2, Pin name = IO_L07N_2, Type = I/O, Sch name = MT-CRE
NET "LB_n"     LOC = "K5"; # Bank = 3, Pin name = IO_L14N_3/LHCLK7, Type = LHCLK, Sch name = MT-LB
NET "UB_n"     LOC = "K4"; # Bank = 3, Pin name = IO_L13N_3/LHCLK5, Type = LHCLK, Sch name = MT-UB
NET "OWAIT" LOC = "F5"; # Bank = 3, Pin name = IP, Type = INPUT, Sch name = MT-WAIT
NET "Addr<0>"  LOC = "J1"; # Bank = 3, Pin name = IO_L12P_3/LHCLK2, Type = LHCLK, Sch name = ADR1
NET "Addr<1>"  LOC = "J2"; # Bank = 3, Pin name = IO_L12N_3/LHCLK3/IRDY2, Type = LHCLK, Sch name = ADR2
NET "Addr<2>"  LOC = "H4"; # Bank = 3, Pin name = IO_L09P_3, Type = I/O, Sch name = ADR3
NET "Addr<3>"  LOC = "H1"; # Bank = 3, Pin name = IO_L10N_3, Type = I/O, Sch name = ADR4
NET "Addr<4>"  LOC = "H2"; # Bank = 3, Pin name = IO_L10P_3, Type = I/O, Sch name = ADR5
NET "Addr<5>"  LOC = "J5"; # Bank = 3, Pin name = IO_L11P_3/LHCLK0, Type = LHCLK, Sch name = ADR6
NET "Addr<6>"  LOC = "H3"; # Bank = 3, Pin name = IO_L09N_3, Type = I/O, Sch name = ADR7
NET "Addr<7>"  LOC = "H6"; # Bank = 3, Pin name = IO_L08P_3, Type = I/O, Sch name = ADR8
NET "Addr<8>"  LOC = "F1"; # Bank = 3, Pin name = IO_L05P_3, Type = I/O, Sch name = ADR9
NET "Addr<9>"  LOC = "G3"; # Bank = 3, Pin name = IO_L06P_3, Type = I/O, Sch name = ADR10
NET "Addr<10>" LOC = "G6"; # Bank = 3, Pin name = IO_L07P_3, Type = I/O, Sch name = ADR11
NET "Addr<11>" LOC = "G5"; # Bank = 3, Pin name = IO_L07N_3, Type = I/O, Sch name = ADR12
NET "Addr<12>" LOC = "G4"; # Bank = 3, Pin name = IO_L06N_3/VREF_3, Type = VREF, Sch name = ADR13
NET "Addr<13>" LOC = "F2"; # Bank = 3, Pin name = IO_L05N_3, Type = I/O, Sch name = ADR14
NET "Addr<14>" LOC = "E1"; # Bank = 3, Pin name = IO_L03N_3, Type = I/O, Sch name = ADR15
NET "Addr<15>" LOC = "M5"; # Bank = 3, Pin name = IO_L19P_3, Type = I/O, Sch name = ADR16
NET "Addr<16>" LOC = "E2"; # Bank = 3, Pin name = IO_L03P_3, Type = I/O, Sch name = ADR17
NET "Addr<17>" LOC = "C2"; # Bank = 3, Pin name = IO_L01N_3, Type = I/O, Sch name = ADR18
NET "Addr<18>" LOC = "C1"; # Bank = 3, Pin name = IO_L01P_3, Type = I/O, Sch name = ADR19
NET "Addr<19>" LOC = "D2"; # Bank = 3, Pin name = IO_L02N_3/VREF_3, Type = VREF, Sch name = ADR20
NET "Addr<20>" LOC = "K3"; # Bank = 3, Pin name = IO_L13P_3/LHCLK4/TRDY2, Type = LHCLK, Sch name = ADR21
NET "Addr<21>" LOC = "D1"; # Bank = 3, Pin name = IO_L02P_3, Type = I/O, Sch name = ADR22
NET "Addr<22>" LOC = "K6"; # Bank = 3, Pin name = IO_L14P_3/LHCLK6, Type = LHCLK, Sch name = ADR23
NET "DQ<0>"  LOC = "L1"; # Bank = 3, Pin name = IO_L15P_3, Type = I/O, Sch name = DB0
NET "DQ<1>"  LOC = "L4"; # Bank = 3, Pin name = IO_L16N_3, Type = I/O, Sch name = DB1
NET "DQ<2>"  LOC = "L6"; # Bank = 3, Pin name = IO_L17P_3, Type = I/O, Sch name = DB2
NET "DQ<3>"  LOC = "M4"; # Bank = 3, Pin name = IO_L18P_3, Type = I/O, Sch name = DB3
NET "DQ<4>"  LOC = "N5"; # Bank = 3, Pin name = IO_L20N_3, Type = I/O, Sch name = DB4
NET "DQ<5>"  LOC = "P1"; # Bank = 3, Pin name = IO_L21N_3, Type = I/O, Sch name = DB5
NET "DQ<6>"  LOC = "P2"; # Bank = 3, Pin name = IO_L21P_3, Type = I/O, Sch name = DB6
NET "DQ<7>"  LOC = "R2"; # Bank = 3, Pin name = IO_L23N_3, Type = I/O, Sch name = DB7
NET "DQ<8>"  LOC = "L3"; # Bank = 3, Pin name = IO_L16P_3, Type = I/O, Sch name = DB8
NET "DQ<9>"  LOC = "L5"; # Bank = 3, Pin name = IO_L17N_3/VREF_3, Type = VREF, Sch name = DB9
NET "DQ<10>" LOC = "M3"; # Bank = 3, Pin name = IO_L18N_3, Type = I/O, Sch name = DB10
NET "DQ<11>" LOC = "M6"; # Bank = 3, Pin name = IO_L19N_3, Type = I/O, Sch name = DB11
NET "DQ<12>" LOC = "L2"; # Bank = 3, Pin name = IO_L15N_3, Type = I/O, Sch name = DB12
NET "DQ<13>" LOC = "N4"; # Bank = 3, Pin name = IO_L20P_3, Type = I/O, Sch name = DB13
NET "DQ<14>" LOC = "R3"; # Bank = 3, Pin name = IO_L23P_3, Type = I/O, Sch name = DB14
NET "DQ<15>" LOC = "T1"; # Bank = 3, Pin name = IO_L24N_3, Type = I/O, Sch name = DB15
#NET "ov7670_pclk1" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "inst_top_camera_monitoring/inst_debounce/output" TIG;
#INST "inst_top_camera_monitoring/inst_ov7670contr1/*" TIG;
INST "inst_top_camera_monitoring/crbc_i0/write_buffer_i0/*" LOC="RAMB16_X0Y0:RAMB16_X0Y13";
#AREA_GROUP "g1" RANGE="SLICE_X13Y29:SLICE_X26Y50,RAMB16_X0Y0:RAMB16_X0Y13";
#INST "inst_top_camera_monitoring/crbc_i0/*" AREA_GROUP="g1";
#AREA_GROUP "g2" RANGE="SLICE_X13Y23:SLICE_X25Y5";
#INST "inst_top_camera_monitoring/virtual_camera/*" AREA_GROUP="g2";
#INST "ov7670_pclk" IOB=TRUE;
#INST "inst_top_camera_monitoring/ov7670_pclk" IOB=TRUE;
# unused
#TIMESPEC TS_CLK100 = PERIOD "CLK100" 10 ns HIGH 50%;
#TIMESPEC TS_25_to_24 = FROM "CLK25" TO "CLK24" TIG;
#TIMESPEC TS_24_to_25 = FROM "CLK24" TO "CLK25" TIG;
#TIMESPEC TS_100_to_24 = FROM "CLK100" TO "CLK24" TIG;
#TIMESPEC TS_24_to_100 = FROM "CLK24" TO "CLK100" TIG;
#TIMESPEC TS_50_to_100 = FROM "CLK50" TO "CLK100" TIG;
#TIMESPEC TS_100_to_50 = FROM "CLK100" TO "CLK50" TIG;
#TIMESPEC TS_100_to_pclk = FROM "CLK100" TO "pclk" TIG;
#TIMESPEC TS_pclk_to_100 = FROM "pclk" TO "CLK100" TIG;
#NET "ov7670_data_0" LOC = "G15"; # JC1
#NET "ov7670_data_1" LOC = "J16"; # JC2
#NET "ov7670_data_2" LOC = "G13"; # JC3
#NET "ov7670_data_3" LOC = "H16"; # JC4

#Created by Constraints Editor (xc3s1200e-fg320-4) - 2026/04/23
#NET "inst_top_camera_monitoring/ov7670_pclk1" TNM_NET = inst_top_camera_monitoring/ov7670_pclk1;

#Created by Constraints Editor (xc3s1200e-fg320-4) - 2026/04/23
#NET "Dq<*>" OFFSET = IN 5 ns VALID 5 ns BEFORE "i_clock" RISING;
#NET "Dq<*>" OFFSET = OUT 5 ns VALID 5 ns AFTER "i_clock" RISING;
#NET Dq(*)  OFFSET = IN 10ns VALID 10ns BEFORE "i_clock";
#NET oe_n  OFFSET = OUT 10ns VALID 10ns BEFORE "i_clock";
#NET we_n  OFFSET = OUT 10ns VALID 10ns BEFORE "i_clock";
