NET "clk50" LOC="B8";
NET "clkcam" LOC="U9";
NET "pb" LOC="B18";
NET "sw(0)" LOC="G18";
NET "sw(1)" LOC="H18";
NET "sw(2)" LOC="K18";
NET "sw(3)" LOC="K17";
#NET "vga_rgb<7>" LOC="R9";
#NET "vga_rgb<6>" LOC="T8";
#NET "vga_rgb<5>" LOC="R8";
#NET "vga_rgb<4>" LOC="N8";
#NET "vga_rgb<3>" LOC="P8";
#NET "vga_rgb<2>" LOC="P6";
#NET "vga_rgb<1>" LOC="U5";
#NET "vga_rgb<0>" LOC="U4";
#NET "vga_hsync" LOC="T4";
#NET "vga_vsync" LOC="U3";
NET "led1" LOC="E16";
NET "led2" LOC="P16";
NET "led3" LOC="E4";
NET "led4" LOC="P4";
NET "o_reset" LOC="F12";
NET "o_cs" LOC="B13";
NET "o_rs" LOC="A14";
NET "o_do" LOC="D14";
NET "o_ck" LOC="A16";

NET "anode<0>" LOC="F17";
NET "anode<1>" LOC="H17";
NET "anode<2>" LOC="C18";
NET "anode<3>" LOC="F15";

NET "o_jc<0>" LOC="B16";
NET "o_jc<1>" LOC="B14";
NET "o_jc<2>" LOC="C14";
NET "o_jc<3>" LOC="E13";
#NET "o_jc<4>" LOC="H15";
#NET "o_jc<5>" LOC="F14";
#NET "o_jc<6>" LOC="G16";
#NET "o_jc<7>" LOC="J12";

NET "ov7670_siod1" LOC = "L15";
NET "ov7670_sioc1" LOC = "K12";
NET "ov7670_href1" LOC = "L17";
NET "ov7670_vsync1" LOC = "M15";
NET "ov7670_xclk1" LOC = "K13";
NET "ov7670_pclk1" LOC = "L16";
NET "ov7670_reset1" LOC = "M14";
#NET "ov7670_data1<7>" LOC = "U18";
#NET "ov7670_data1<6>" LOC = "T18";
#NET "ov7670_data1<5>" LOC = "R16";
#NET "ov7670_data1<4>" LOC = "P17";
#NET "ov7670_data1<3>" LOC = "T17";
#NET "ov7670_data1<2>" LOC = "R15";
#NET "ov7670_data1<1>" LOC = "R18";
#NET "ov7670_data1<0>" LOC = "m13";
NET "ov7670_data1<2>" LOC = "U18";
NET "ov7670_data1<1>" LOC = "P17";
NET "ov7670_data1<0>" LOC = "R18";

NET "ov7670_siod2" LOC = "G15";
NET "ov7670_sioc2" LOC = "J16";
NET "ov7670_href2" LOC = "G13";
NET "ov7670_vsync2" LOC = "H16";
NET "ov7670_xclk2" LOC = "H15";
NET "ov7670_pclk2" LOC = "F14";
NET "ov7670_reset2" LOC = "G16";
#NET "ov7670_data2<7>" LOC = "J14";
#NET "ov7670_data2<6>" LOC = "J15";
#NET "ov7670_data2<5>" LOC = "K15";
#NET "ov7670_data2<4>" LOC = "K14";
#NET "ov7670_data2<3>" LOC = "P18";
#NET "ov7670_data2<2>" LOC = "N18";
#NET "ov7670_data2<1>" LOC = "M18";
#NET "ov7670_data2<0>" LOC = "J13";
NET "ov7670_data2<2>" LOC = "J14";
NET "ov7670_data2<1>" LOC = "K14";
NET "ov7670_data2<0>" LOC = "M18";

NET "ov7670_siod3" LOC = "A4";
NET "ov7670_sioc3" LOC = "C4";
NET "ov7670_href3" LOC = "D5";
NET "ov7670_vsync3" LOC = "F7";
NET "ov7670_xclk3" LOC = "A6";
NET "ov7670_pclk3" LOC = "F8";
NET "ov7670_reset3" LOC = "G13";
NET "ov7670_pwdn3" LOC = "G16";
NET "ov7670_data3<7>" LOC = "C9";
NET "ov7670_data3<6>" LOC = "G9";
NET "ov7670_data3<5>" LOC = "D10";
NET "ov7670_data3<4>" LOC = "B10";
NET "ov7670_data3<3>" LOC = "D11";
NET "ov7670_data3<2>" LOC = "B11";
NET "ov7670_data3<1>" LOC = "E11";
NET "ov7670_data3<0>" LOC = "E12";

NET "ov7670_siod4" IOSTANDARD="DEFAULT";
NET "ov7670_sioc4" IOSTANDARD="DEFAULT";
NET "ov7670_href4" IOSTANDARD="DEFAULT";
NET "ov7670_vsync4" IOSTANDARD="DEFAULT";
NET "ov7670_xclk4" IOSTANDARD="DEFAULT";
NET "ov7670_pclk4" IOSTANDARD="DEFAULT";
NET "ov7670_reset4" IOSTANDARD="DEFAULT";
NET "ov7670_pwdn4" IOSTANDARD="DEFAULT";
NET "ov7670_data4<7>" IOSTANDARD="DEFAULT";
NET "ov7670_data4<6>" IOSTANDARD="DEFAULT";
NET "ov7670_data4<5>" IOSTANDARD="DEFAULT";
NET "ov7670_data4<4>" IOSTANDARD="DEFAULT";
NET "ov7670_data4<3>" IOSTANDARD="DEFAULT";
NET "ov7670_data4<2>" IOSTANDARD="DEFAULT";
NET "ov7670_data4<1>" IOSTANDARD="DEFAULT";
NET "ov7670_data4<0>" IOSTANDARD="DEFAULT";

NET "ov7670_pclk1" CLOCK_DEDICATED_ROUTE = FALSE;
NET "ov7670_pclk2" CLOCK_DEDICATED_ROUTE = FALSE;
NET "ov7670_pclk3" CLOCK_DEDICATED_ROUTE = FALSE;
NET "ov7670_pclk4" CLOCK_DEDICATED_ROUTE = FALSE;

NET "clkcam" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "DCM_xcam.CLKIN" CLOCK_DEDICATED_ROUTE = FALSE;

#NET "ov7670_href1" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "ov7670_href2" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "ov7670_href3" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "ov7670_vsync1" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "ov7670_vsync2" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "ov7670_vsync3" CLOCK_DEDICATED_ROUTE = FALSE;

#Created by Constraints Editor (xc3s1200e-fg320-4) - 2022/07/31

#NET "clk50" TNM_NET = clk50;
#TIMESPEC TS_clk50 = PERIOD "clk50" 20 ns HIGH 50% INPUT_JITTER 60 ps;

NET "clkcam" TNM_NET = clkcam;
TIMESPEC TS_clkcam = PERIOD "clkcam" 10 ns HIGH 50% INPUT_JITTER 80 ps;

#Created by Constraints Editor (xc3s1200e-fg320-4) - 2022/07/31

NET "ov7670_pclk1" TNM_NET = ov7670_pclk1;
TIMESPEC TS_ov7670_pclk1 = PERIOD "ov7670_pclk1" 20.000 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk1 = PERIOD "ov7670_pclk1" 20.833 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk1 = PERIOD "ov7670_pclk1" 41.667 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk1 = PERIOD "ov7670_pclk1" 42.333 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk1 = PERIOD "ov7670_pclk1" 62.5 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk1 = PERIOD "ov7670_pclk1" 334.0 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk1 = PERIOD "ov7670_pclk1" 666.0 ns HIGH 50% INPUT_JITTER 100 ps;

NET "ov7670_pclk2" TNM_NET = ov7670_pclk2;
TIMESPEC TS_ov7670_pclk2 = PERIOD "ov7670_pclk2" 20.000 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk2 = PERIOD "ov7670_pclk2" 20.833 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk2 = PERIOD "ov7670_pclk2" 41.667 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk2 = PERIOD "ov7670_pclk2" 42.333 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk2 = PERIOD "ov7670_pclk2" 62.5 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk2 = PERIOD "ov7670_pclk2" 334.0 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk2 = PERIOD "ov7670_pclk2" 666.0 ns HIGH 50% INPUT_JITTER 100 ps;

NET "ov7670_pclk3" TNM_NET = ov7670_pclk3;
TIMESPEC TS_ov7670_pclk3 = PERIOD "ov7670_pclk3" 20.000 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk3 = PERIOD "ov7670_pclk3" 20.833 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk3 = PERIOD "ov7670_pclk3" 41.667 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk3 = PERIOD "ov7670_pclk3" 42.333 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk3 = PERIOD "ov7670_pclk3" 62.5 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk3 = PERIOD "ov7670_pclk3" 334.0 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk3 = PERIOD "ov7670_pclk3" 666.0 ns HIGH 50% INPUT_JITTER 100 ps;

NET "ov7670_pclk4" TNM_NET = ov7670_pclk4;
TIMESPEC TS_ov7670_pclk4 = PERIOD "ov7670_pclk4" 20.000 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk4 = PERIOD "ov7670_pclk4" 20.833 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk4 = PERIOD "ov7670_pclk4" 41.667 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk4 = PERIOD "ov7670_pclk4" 42.333 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk4 = PERIOD "ov7670_pclk4" 62.5 ns HIGH 50% INPUT_JITTER 100 ps;
<<<<<<<< HEAD:new_init_qqvga/top.ucf

========
#TIMESPEC TS_ov7670_pclk4 = PERIOD "ov7670_pclk4" 334.0 ns HIGH 50% INPUT_JITTER 100 ps;
#TIMESPEC TS_ov7670_pclk4 = PERIOD "ov7670_pclk4" 666.0 ns HIGH 50% INPUT_JITTER 100 ps;
>>>>>>>> r1/new_init_qqvga_st7735:new_init_qqvga_st7735/Top.ucf
